
/*animações*/

@keyframes up{
  from{
    opacity: 0;
    transform: translateY(30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes right{
  from{
    opacity: 0;
    transform: translateX(-100%);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes left{
  from{
    opacity: 0;
    transform: translateX(100%);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes down{
  from{
    opacity: 0;
    transform: translateY(-100%);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes appear{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.animate-up{
  animation-name: up;
  animation-duration: 350ms;
  animation-fill-mode: backwards;
}

.animate-right{
  animation-name: right;
  animation-duration: 450ms;
  animation-fill-mode: backwards;
}

.animate-left{
  animation-name: left;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}
.animate-down{
  animation-name: down;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}
.animate-appear{
  animation-name: appear;
  animation-duration: 500ms;
  animation-fill-mode: backwards;
}